/* css work is start */
/* css header and nav work is start */
body{
    font-family: 'Open Sans', sans-serif;
}
.game-header{
    margin: 70px;
}
nav> ul{
    display: flex;
  justify-content: end;
  /* border: 2px solid gold; */
  /* justify-content: space-around; */
}
/* nav a{
    margin-top: 250px;
} */
nav li{
    list-style: none;
    margin: 20px;
    /* margin-bottom: 350px; */
    border: 2px solid darkcyan;
    /* display: inline; */
}

.img-class{
    display: flex;
 /* justify-content: end; */
}
 /* .img-class img{
    margin-top: 50px;
 } */
.img-class li {
    list-style: none;
    
}
.img-class a{
    font-size: 20px;
    font-weight: 700;
}
section{
    margin-left: 240px;
    margin-right: 240px;
}
.play-game{
    display: flex;
    justify-content: space-around;
}
.text-main-div{
    margin-top: 70px;
    /* border: 2px solid green; */
    /* margin-right: 30px; */
}
.game-text{
    color: #0B0223;

    margin-top: 0;
    margin-bottom: 0;
font-size: 2.5rem;

font-weight: 500;
/* border: 3px solid firebrick; */
line-height: normal;
}
.fullstop-text{
  
/* border: 2px solid gold; */
margin-top: 0;
margin-bottom: 0;
font-size: 95px;

font-weight: 800;
color:#F948B2;
}
.list-play{
    list-style: none;
}
li a{
    text-decoration: none;
    color: #534C64;
 


font-size: 20px;

font-weight: 500;

text-transform: lowercase;
}
.sign-btn,.rogue-btn{
    color: #FFF;
width: 150px;
height: 50px;
border: none;
border-radius: 20px;
background-color: #F948B2;
font-size: 20px;

font-weight: 600;

text-transform: uppercase;
}
.rogue-btn{
    background-color: #4EC5F7;
    margin-left: 20px;
}
.play-img {
    width: 100%;
    /* border: 2px solid salmon; */
    /* margin-left: 50px; */
}
.play-img img{
    width: 500px;
    margin-left: 150px;
}

/* second section css is start */
.game-section{
    margin-top: 70px;
}
.online-game{
    text-align: center;
}
.game-image{
    display: flex;
   justify-content: space-around;
   gap: 10px;
}
.game-text{
    width: 100%;
}
.image-text p{

    color: #534C64;

font-size: 16px;

font-weight: 400;

}
.online-game h1{
    color: #0B0223;


    font-size: 48px;
    
    font-weight: 700;
}
.online-game p{
    color: #534C64;
text-align: center;

font-size: 18px;

font-weight: 400;
line-height: 30px; 
}
.color-video{
    color: teal;


font-size: 48px;

font-weight: 700;

}
.image-text img{
    width: 250px;
    
}
/* third section css is start */
.button-image-pic{
    display: flex;
    align-items: center;
    /* margin-left: 10px; */
}
.action{
    margin: 10px;
    font-size: 12px;
}
.grid-game{
    display: grid;
    grid-template-columns: repeat(4,1fr) 1fr;
   /* margin-bottom: 10px; */
   gap: 5px;
   text-align: center;

   justify-content: center;
   margin: auto;

}
.huge-image{
    margin-top: 10px;
    
    /* border: none; */
    /* background-color: #F948B2; */
}
.huge-image-btn{
     margin-left: 30px; 
    /* border-radius: 50px; */
}
.button-image-pic:hover{
    border: 2px solid green;
    border-radius: 30px;
    color: #F948B2;
}

.button-image-pic{
    border: none;
    /* align-items: center;
    justify-content: center; */
    color: #0B0223;
    margin-top: 20px;
align-self: center;
font-size: 10px;
width: 170px;
height: 70px;
margin-left: 20px;
border-radius: 20px;

/* font-weight: 600; */
line-height: normal;
}
.button-image-pic img{
    width: 40px;
    /* height: 50px; */
}
.game-word{
    margin-bottom: 100px;
}

/* third section css has end */

footer{
    background: #0B0223;
    margin-top: 120px;
}
.gamer-heading{
    

font-size: 45px;

font-weight: 700;
padding: 10px;
color: white;

}
.span-game{

    font-size: 45px;

    font-weight: 700;
    color: #F948B2;
}
.gamer-img,.btn-logo{

    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    margin: 10px;
    font-size: 30px;
  border-radius: 15px;
    border: none;
}
.footer-item > ul{
display: flex;
align-items: center;
justify-content: center;
}
.footer-item ul li{
    list-style: none;
    margin: 20px;
}
.footer-layout-game > ul{
    display: flex;
    align-items: center;
justify-content: center;
}
.footer-layout-game li{
    list-style: none;
    margin: 10px;
   
}
.footer-layout-game li a{
    color: #fff;
}

.footer-last-item{
    color: white;
  text-align: center;
}
/* responsive item is start */
@media screen and (max-width:576px) {
    main{
        width: 100%;
    }
    .play-game ,.game-image{
flex-direction: column;

    }
    .play-img img{
        width: 350px;
        margin-left: 3px;
        position: relative;
    }
    section{
        margin-left: 5px;
        margin-right: 5px;
         width: 400px; 
        position: relative;
    }
    .sign-btn{
        margin-left: 40px;
    }
    .rogue-btn{
        margin: 0;
        padding: 0;
    }
    .game-text{
        margin-left: 35px;
    }
    .game-image{
        text-align: center;
    }
    .fullstop-text{
        margin-left: 35px;
        margin-right: 20px;
        font-size: 70px;
    }
    .play-img{
        width: 100%;
    }
 /* first section is done */
.gaming{
    width: 400px;
}
.grid-game{
     grid-template-columns:repeat(4,1fr); 
   
}

}
